h1, h3 {
    text-align: center;
    color: #6c3f6c;
    margin-top: 2rem;
}

form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(108, 63, 108, 0.1);
    max-width: 400px;
    margin: 2rem auto;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #6c3f6c;
    display: block;
}

input {
    border: 1px solid #d1a3d1;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #6c3f6c;
    box-shadow: 0 0 0 2px rgba(108, 63, 108, 0.2);
}

button {
    background-color: #6c3f6c;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8c5f8c;
}

a {
    color: #6c3f6c;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.register-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .register-container a {
    display: inline-block;
  }